<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://2c4c5ae4-0ee0-4-231-b9ee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>2c4c5ae4-0ee0-4-231-b9ee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>2c4c5ae4-0ee0-4-231-b9ee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$2c4c5ae4-0ee0-4-231-b9ee</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InmosysytemDBEntities4" Order="1" Enabled="False">
          <Destination Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" Name="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InmosystemWeb.Models.InmosysytemDBEntities4, InmosystemWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InmosysytemDBEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" Name="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InmosysytemDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=inmosystem.database.windows.net;initial catalog=InmosysytemDB;persist security info=True;user id=fvaldesv;password=Zona1234*;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InmosysytemDBEntities2" Order="3" Enabled="False">
          <Destination Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" Name="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InmosysytemDBEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModeloCGI.csdl|res://*/Models.ModeloCGI.ssdl|res://*/Models.ModeloCGI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=inmosystem.database.windows.net;initial catalog=InmosysytemDB;persist security info=True;user id=fvaldesv;password=Zona1234*;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InmosysytemDBEntities3" Order="4" Enabled="False">
          <Destination Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" Name="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InmosysytemDBEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelCGI.csdl|res://*/Models.ModelCGI.ssdl|res://*/Models.ModelCGI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=inmosystem.database.windows.net;initial catalog=InmosysytemDB;persist security info=True;user id=fvaldesv;password=Zona1234*;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InmosysytemDBEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" Name="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InmosysytemDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Inmobiliaria.csdl|res://*/Models.Inmobiliaria.ssdl|res://*/Models.Inmobiliaria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=inmosystem.database.windows.net;initial catalog=InmosysytemDB;persist security info=True;user id=fvaldesv;password=Zona1234*;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InmoContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:inmosystem.database.windows.net,1433;Initial Catalog=InmosysytemDB;Persist Security Info=False;User ID={fvaldesv};Password={Zona1234*};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InmoContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:inmosystem.database.windows.net,1433;Initial Catalog=InmosysytemDB;Persist Security Info=False;User ID={fvaldesv};Password={Zona1234*};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmoContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmosysytemDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Inmobiliaria.csdl|res://*/Models.Inmobiliaria.ssdl|res://*/Models.Inmobiliaria.msl;provider=System.Data.SqlClient;provider connection string="data source=inmosystem.database.windows.net;initial catalog=InmosysytemDB;persist security info=True;user id=fvaldesv;password=Zona1234*;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmosysytemDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmosysytemDBEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModeloCGI.csdl|res://*/Models.ModeloCGI.ssdl|res://*/Models.ModeloCGI.msl;provider=System.Data.SqlClient;provider connection string="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmosysytemDBEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCGI.csdl|res://*/Models.ModelCGI.ssdl|res://*/Models.ModelCGI.msl;provider=System.Data.SqlClient;provider connection string="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmosysytemDBEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCGI.csdl|res://*/Models.ModelCGI.ssdl|res://*/Models.ModelCGI.msl;provider=System.Data.SqlClient;provider connection string="Data Source=inmosystem.database.windows.net;Initial Catalog=InmosysytemDB;Persist Security Info=True;User ID=fvaldesv;Password=Zona1234*;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>